:host {
    max-width: 1280px;
    text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th,
td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.portal {
    background: #ffb1b1;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .components {
        background: #afefbd;
        flex: 1;
        padding: 24px;
    }
}